
* {
  margin: 0;
  padding: 0;
  background-color: rgb(29, 29, 100);
  color: rgb(255, 255, 255);
}

.app {
  margin:10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.app h1 {
  font-size: 40px;
  margin: 20px 5px;
}

.app a{
  font-size: 25px;
  margin: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  text-decoration: none; 
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  
  .app a{
    font-size: 20px;
  }
}